@model MongoDB.Models.EstiloMusical

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EstiloMusical</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


