@{
    ViewBag.Title = "Index";
}

<h2>JQuery - Exemplos</h2>
<p>
    <a href="@Url.Action("Index", "TipsyTooltip")">Tipsy Tooltip</a> <br/>
    <a href="@Url.Action("Index", "PlUpload")">PlUpload</a>
</p>
