<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
        connectionString="Server=localhost;Database=Estudos;Uid=root;Pwd=08althmann10;"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>