@{
    ViewBag.Title = "Index";
}

<h2>Upload</h2>

<div id="upload"></div>


<script type="text/javascript">
    $(function () {

        $("#upload").pluploadQueue({
           runtimes : "html5,html4",
           url : "/plupload/upload",
           max_file_size : "4mb",
           filters: [
                {title : "Imagens", extensions : "jpg,png"}
           ]
        });

    });
</script>